.App {
  text-align: center;
  height: 100vh;
}
body{
  background-color: #bbb8b8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent.highlight{
  border: 1px solid green;
}
#input:focus #parent{
  border: 2px solid green;
}